body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  background-color: #337788;
  color: white;
  border-radius: 20px;
}

.button:hover {
  background-color: #4499aa;
}

.question {
  color: #337788;
  font-weight: bold;
}

button {
  padding: 6px;
  border: none;
  font-size: large;
  margin: 10px 0;
}

.button {
  background-color: #337788;
  color: white;
}

.hidden {
  display: none;
}

.optionButton {
  display: block;
  background-color: white;
  color: #337788;
}

.optionButton:hover {
  background-color: #44aabb;
  color: white;
}

.selected {
  background-color: #338877;
  color: white;
}
